/******** Styling of Search field **********/

.top{
  margin-top: 1%;
}
.pageSize{
  margin-top: 1%;
  float: left;
  margin-bottom: 2%;
  margin-left: 7%;
}
.search{
  float: right;
  width: 25%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 1%;
  padding-top:10px;
  padding-bottom: 10px;
  border: 1px solid rgb(206, 203, 203);
  font-family: Roboto, system-ui, sans-serif;
  border-radius: 10px;
  font-size: 15px;
} 

/*********** table container **********/

.container{
  margin-left: 7%;
  margin-right: 7%;
}

/******** list of enrollee table**********/

.main_table{
  width: 100%;
  font-family: Roboto, system-ui, sans-serif;
  border-collapse: collapse;
  table-layout:fixed; 
}
.allHeader th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 10px;
} 
.main_table th{
  font-size: 17px;
  background-color: rgb(206, 203, 203); 
}
.idHeader {
  width: 32%;
  cursor: default;
}
.nameHeader{
  width: 33%;
  cursor: default;
}
.dobHeader{
  width: 12%;
}
.statusHeader{
  width: 12%;
  cursor: default;
}
.actionHeader{
  width: 11%;
}
.main_table tbody{
  border: 1px solid #ddd;
}
.main_table td{ 
  padding: 10px;
  font-size: 15px;
  overflow:auto;
  overflow-wrap: break-word;
}
.main_table tr:nth-child(even){
  background-color: #f2f2f2;
}

/************ inline edit *************/

.upName{
  font-family: Roboto, system-ui, sans-serif;
  padding: 1em 1em 1em 1em;
  border: 1px solid rgb(206, 203, 203);
  border-radius: 10px;
}
mat-form-field {
  width: 100%;
}

/************ pagination *************/

.pagination{
  font-family: Roboto, system-ui, sans-serif;
  position:absolute;
    right:25%;
    left:45%;
    margin-left:-150px;
}

/************** Buttons *************/

.editButton{
  border: none;
  background-color: transparent; 
  float: left;
  padding: none;
  cursor: pointer;
}
.allButtons{
  font-family: Roboto, system-ui, sans-serif;
  padding: none;
  color: black;
  cursor: pointer;
  float: center;
}

/*************** Icons ***************/

.editIcon{
  height: 18px;
  width: 18px;
}
.icons{
  height: 12px;
  width: 12px;
}
.matSelect{
  padding: 0;
}

/*************** Server down ***************/

.error{
  padding-top: 10%;
  font-size: xx-large;
  text-align: center;
}
.error2{
  font-size: large;
  text-align: center;
  padding-bottom: 10%;
}