
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.green-snackbar {
    background: #64f321;
    color: black;
    position: absolute !important;
    top: 8%;
    left: 35%;
  }
  .red-snackbar {
    background: #f34b21;
    color: black;
    position: absolute !important;
    top: 8%;
    left: 35%;
    
  }
